# Python
__pycache__/
*.py[cod]
*.so
*.egg
*.egg-info/
dist/
build/

# Jupyter
.ipynb_checkpoints

# Environment
.env
# .env.example should NOT be ignored
.env.*
!.env.example

# Conda
*.conda
*.env

# VSCode
.vscode/

# Mac
.DS_Store 